[package]
name = "text"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = { workspace = true }
promkit = { path = "../../promkit", features = ["text"] }

[[bin]]
name = "text"
path = "src/text.rs"
